<div class="moreList" >
    <div class="loading" ng-show="isLoading">
        <img ng-src="images/loading.gif" >
    </div>
    <div class="list" ng-hide="isLoading" >
        <div>
            <h3 ng-bind="moreMovie.title"></h3>
        </div>
        <ul>
            <li ng-repeat="movie in  moreMovie.subjects" ui-sref="app.detail({id:movie.id})">
                <img ng-src="{{movie.images.medium}}" alt="">
                <p ng-bind="movie.title"><</p>
            </li>
        </ul>
    </div>
</div>